.SimpleVestingList{
    box-shadow: 0px 0px 8px rgb(0, 0, 0, 9%);
    margin-top: 0;
    padding: 20px;

    h1{
        font-family: 'Cabin', sans-serif;
        margin-top: 0 !important;
        margin-bottom: 0.25em;
        text-transform: capitalize;
        color: black;
        font-size: 20pt;
    }

    ol{
        margin-top: 0em;
        font-family: 'Montserrat', sans-serif;
        font-size: 13pt;
        font-weight: 200;
        li{
            margin-bottom: 0.25em;

            a{
                text-decoration: none;
                font-weight: 600;
                color: rgb(0, 68, 116);
            }
        }
    }
}