.Footer{
    background: #F2F2F2;
    position: absolute;
    padding: 10px 6%;
    display: flex;
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content: space-between;

    .blockInfo{
        display: flex;
        flex-direction: row;

        .link{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            opacity: 0.5;
            margin-right: 36px;
        }
    }

    .platform{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        opacity: 0.5;
        margin-right: 36px;
    }
}

@media(min-width:350px){
    .Footer{
        flex-direction: column;
        .blockInfo{
            margin: 20px 0px;
        }
    }
}

@media(min-width:850px){
    .Footer{
        flex-direction: row;
        .blockInfo{
            margin: 0px;
        }
    }
}

@media(max-width: 1000px) and (orientation: portrait){
    .Footer{
        flex-direction: row;
        align-items: center;

        .logo{
            img{
                height: 25px;
            }
        }

        .blockInfo{
            display: flex;
            flex-direction: row;
            margin: 0px;
    
            .link{
                font-size: 5pt;
                line-height: 5pt;
                color: #000000;
                opacity: 0.5;
                margin-right: 10px;
                margin-bottom: 0;
            }
        }

        .platform{
            font-size: 4pt;
            line-height: 4pt;
            margin-bottom: 0;
            margin-right: 0px;
        }
    }
}