.mainInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
    .inputField {
        background: rgb(255, 255, 255);
        border-radius: 45px;
        color: black;
        border: none;
        height: 3em;
        font-size: 14pt;
        font-weight: 900;
        padding-left: 1.5em;
        width: 80%;
        margin-bottom: 30px;
    }
    .title{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        color: #FFFFFF;
    }
    
    .text{
        margin: 20px 0;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }
    
    .media{
       
        a{
            margin-right: 10px;
            text-decoration: none;
            img{
                background: white !important;
            }
        }
    }

    .mediaMobile{
        display: none;
        a{
            margin-right: 10px;
            text-decoration: none;
            img{
                background: rgba(255, 255, 255, 0.877) !important;
                border-radius: 20px;

            }
        }
    }
}

@media(min-width:350px){
    .mainInfo{
        margin-top: 50px;
        .title{
            color: #000;
        }
        .text{
            color: #000;
            margin-bottom: 10px;
        }
        .media{
            display: none;
            color: #000;
        }
        .mediaMobile{
            display: block;
            img{
                width: 24px;
                height: 24px;
            }
        }
    }

    .buttonBlock{
        margin-bottom: 20px;
        button{
            margin-right: 10px;
            width: 204px;
            height: 52px;
            left: 1458px;
            top: 36px;
            background: #FFFFFF;
            border-radius: 50px;
            border-color: #FFFFFF;
            border-width: 0px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */


            color: #000000; 
        }
    }
}

@media(min-width:1280px){
.mainInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    .title{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        color: #FFFFFF;
    }
    
    .text{
        margin: 20px 0;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }
    
    .media{
        
        a{
            margin-right: 10px;
            text-decoration: none;
        }
    }
}
}