.idoDetail {
    .firstBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 60px;
        margin-bottom: 10em;
    }

    .participateBlocks {
        padding-left: 2vw;
        padding-right: 2vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        margin: 80px 0px;



        .participateBlock {
            width: fit-content;
            margin: 0;

            max-width: 230px;
        }

        .title {
            font-family: Montserrat;
            text-align: center;
            font-style: normal;
            font-weight: 600;
            font-size: 16pt;
            line-height: 16pt;
            margin-bottom: 15px;
            color: #000000;
        }

        .participateBlock:first-child{
            .imgBlock::after{
                display: none;
            }
        }

        .participateBlock:last-child{
            .imgBlock::before{
                display: none;
            }
        }

        .text {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 12pt;
            line-height: 14pt;
            text-align: center;
            color: #000000;
        }

        .link {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            background: -webkit-linear-gradient(#0aa7f5, #3ce7ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    

        .imgBlock {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-bottom: 1.5em;
            position: relative;
        

            img {
                height: 6.5em;
                box-shadow: 0px 9px 16px rgba(10, 10, 10, 0.1);
                border-radius: 100%;
            }
        }

        .imgBlock::before {
            content: "";
            position: absolute;
            background-color: rgb(226, 224, 224);
            height: 1px;
            width: 100%;
            margin-left: 100% ;
            z-index: -1;
        }

        .imgBlock::after{
            content: "";
            position: absolute;
            background-color: rgb(226, 224, 224);
            height: 1px;
            width: 100%;
            margin-right: 100% ;
            z-index: -1;
        }
    }
}

@media (min-width: 350px) {
    .idoDetail {
        .participateBlocks {
            .participateBlock {
                width: 100%;

                max-width: 230px;
            }
        }
    }
}

@media (min-width: 960px) {
    .idoDetail {
        .firstBlock {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

@media (min-width: 1280px) {
    .idoDetail {
        margin-top: -2em;
        .firstBlock {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

@media (max-width: 1440px) {
    .idoDetail {
        margin-top: -2.5em;
        .firstBlock {
            margin-bottom: 0.5vh;
        }

        .participateBlocks {
            padding-left: 1vw;
            padding-right: 1vw;
            margin-top: 8vh;

            .participateBlock {
                margin: 0;

                width: 20%;
            }

            .participateBlock::before {
                height: 1px;
                width: 20%;
                margin-top: 4%;
                margin-left: 4%;
                z-index: -1;
            }

            .participateBlock:last-child::before {
                display: none;
            }

            .title {
                font-size: 14pt;
                margin-bottom: 10px;
            }

            .text {
                font-size: 10pt;
                line-height: 12pt;
            }

            .link {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                background: -webkit-linear-gradient(#0aa7f5, #3ce7ff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .imgBlock {
                display: flex;
                justify-content: center;

                img {
                    height: 5em;
                }
            }
        }
    }
}

@media (max-width: 1000px) and (orientation: portrait) {
    .idoDetail {
        .firstBlock {
            margin-top: 0px;
        }

        .participateBlocks {
            overflow-y: scroll;
            flex-wrap: nowrap;
            padding-left: 1em;
            padding-bottom: 1em;

            .participateBlock {
                margin-right: 7em;
            }

            .participateBlock::before {
                display: none;
            }

            .participateBlock:last-child::before {
                display: none;
            }

            .imgBlock::before{
                display: none;
            }
            .imgBlock::after{
                display: none;
            }
        }
    }
}




h1 {
    font-family: Cabin;
    font-size: 28pt;
    color: rgb(53, 53, 53);
}

.customErrorMessage {
    margin-top: 0;
    font-family: sans-serif;
    font-size: 15pt;
    text-align: center;
    color: rgb(83, 83, 83) !important;
}

.originalMessageHeader {
    margin-bottom: 0;
    font-family: Cabin;
}

.originalMessage {
    color: rgb(87, 87, 87);
    margin-top: 0;
    background-color: rgb(216, 216, 216);
    padding: 0.5em;
    font-family: monospace;
    margin-bottom: 0;
}

.warningIconDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100px !important;
    padding-top: 1.5em;

    img {
        height: 100px !important;
    }
}

.buttonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;

    button {
        width: 50%;
        font-family: "Montserrat";
        color: white;
        padding: 0.5em;
        border: none;
        border-radius: 7px;
        background: rgb(49, 143, 255);
        background: linear-gradient(122deg, rgba(49, 143, 255, 1) 0%, rgba(65, 213, 247, 1) 100%);
        font-size: 14pt;
        letter-spacing: 0.05em;
        font-weight: 600;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
    }

    button:hover {
        transform: scale(1.03);
    }
}