.BG{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;

    img{
        width: 100%;
        
    }
}

@media (max-width: 1000px) and (orientation: portrait){
    .BG{
        img{
            min-height: 80vh;
            object-fit: cover;
        }
    }
}