.mainTour {
    color: #2d2323;
    border-radius: 1rem;
    font-size: 1.15rem;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5em;
    min-width: 25rem;
}

.mask {
    opacity: 0.6;
}

.maskHole {
    border-radius: 1rem;
}
