.BaseLayout{
    padding: 10px 6%;
}

@media (min-width:350px) {
 .BaseLayout{
    padding: 10px 6%;
    padding-left: 12vw;
    padding-right: 12vw;
}   
}

@media (max-width: 1000px) {
    .BaseLayout{
        padding-left: 4vw;
        padding-right: 4vw;
    }
}