.Info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
}
.infoBlock {
    // width: 300px;
    flex-grow: 0;
    // max-width: 45%;
    // flex-basis: 47%;
    width: 32%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 2.6vw;

    justify-content: space-between;
    margin-bottom: 40px;

    .link {
        cursor: pointer;
        margin-top: 1.5em;
    }

    .title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 1.9rem;

        color: #000000;
    }

    .text {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 20px;
        color: #000000;
        margin: 8px 0px;
    }
}



.participateBlocks {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    width: 100%;

    .participateBlock {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
    }

    .participateBlock::after{
        content: "";
        position: absolute;
        background-color: rgb(226, 224, 224);
        height: 2px;
        width: 25%;
        margin-top: 4%;
        margin-left: 5%;
        z-index: -1;
    }

    .participateBlock:last-child::after{
        display: none;;
    }

    .imgBlock {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 9vw;
    }

    .title {
        font-family: "Montserrat";
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 16pt;
        line-height: 29px;
        color: #000000;
        margin-bottom: 10px;
    }

    .text {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 12pt;
        line-height: 24px;
        text-align: center;
        color: #000000;
        margin-bottom: 10px;
    }

    .link {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 14pt;
        text-align: center;
        background: -webkit-linear-gradient(#0aa7f5, #3ce7ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
    }
}

.titleBlock {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
    text-align: center;
    width: 100%;
    margin-top: 36px;
    margin-bottom: 40px;
}

@media (max-width: 900px) {
    .participateBlocks {
        flex-wrap: wrap;
    }
}

@media (min-width: 350px) {
    .participateBlocks {
        justify-content: space-between;
        .participateBlock {
            width: 100%;
        }
    }
}

@media (min-width: 960px) {
    .Info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        // justify-content: space-between;
        margin-top: 5vh;
        width: 100%;
    }
    .infoBlock {
        max-width: calc(50% - 120px);
        min-width: calc(50% - 120px);
    }
}

@media (min-width: 1280px) {
    .infoBlock {
        max-width: calc(33% - 115px);
        min-width: calc(33% - 115px);
    }
}

@media (max-width: 1280px) {
    .infoBlock {
        max-width: 25%;
        .title {
            font-size: 18pt;
        }
        .text {
            font-size: 9pt;
        }

        .link {
            margin-top: 0;
        }
    }

    .participateBlocks {
        .participateBlock {
            .title {
                font-family: "Montserrat";
                text-align: center;
                font-style: normal;
                font-weight: 600;
                font-size: 12.5pt;
                line-height: 14pt;
                color: #000000;
            }

            .text {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: normal;
                font-size: 10pt;
                line-height: 13pt;
                text-align: center;
                color: #000000;
            }

            .link {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 600;
                font-size: 12.5pt;
                line-height: 16pt;
                text-align: center;
                background: -webkit-linear-gradient(#0aa7f5, #3ce7ff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                cursor: pointer;
            }
        }
    }
}
