.adminPanel{
    header{
        .mainText{
            margin-top: 170px;

            max-width: 60vw;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: bold;
            font-size: 8vh;
        
            color: #ffffff;
        }
        margin-bottom: 15vh;
    }

    .confirmButton{
        margin-right: 1em;
    }
}