.salesPage{
    h1{
        font-family: 'Cabin';
        color: white;
    }

    .pageHeader{ 
        font-size: 45pt !important;
        font-weight: 300;
        margin-bottom: 1em;
    }

    .upcomingHeader{
        color: black;
        margin-top: 2em;
    }
}