.statsCard {
    background-color: rgb(170, 208, 243);
    padding: 2em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1em;

    background: #ffffff;
    /* Block */

    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    .statsTitle {
        display: flex;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 12pt;
        line-height: 20px;
        /* identical to box height */
        color: #000000;

        .titleIcon {
            height: 100%;
            margin-left: 1em;
        }
    }

    .contents {
        text-align: right;
        .val {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            /* identical to box height */

            text-align: right;

            color: #000000;
        }

        .subvalue {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            /* identical to box height */
            text-align: right;
            color: #000000;
            opacity: 0.5;
        }

        .actionButton {
            background: linear-gradient(180deg, #0aa7f5 0%, #3ce7ff 100%);
            border-radius: 4px;
            color: white;
            border: none;
            height: 3em;
            
            font-size: 12pt;
            font-family: "Montserrat", sans-serif;
            padding-left: 2em;
            padding-right: 2em;
        }

        .actionButton:disabled{
            background: linear-gradient(180deg, #70ccfa 0%, #acf4fd 100%);
            border-radius: 4px;
            color: white;
            border: none;
            height: 3em;
            
            font-size: 12pt;
            font-family: "Montserrat", sans-serif;
            padding-left: 2em;
            padding-right: 2em;
        }
    }
}
