$block-distance: 20px;

.KOL {
    width: calc(33% - $block-distance);

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        margin-bottom: 12px;

        .title {
            display: flex;
            align-items: flex-start;

            img {
                height: 24px;
                margin-right: 12px;
            }

            .titles {
                h1 {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 29px;
                    margin: 0;
                    height: 24px;
                    text-align: left;
                }

                h2 {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 24px;
                    /* identical to box height, or 150% */

                    color: #000000;
                    margin: 0;

                    text-align: left;
                }
            }
        }

        .cta {
            display: inline-flex;
            align-items: center;

            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */

            color: #0aa7f5;

            cursor: pointer;

            transition: all 0.2s;

            &:hover{ 
                transform: translateX(5px);
            }

            img {
                margin-left: 0.8em;
                height: 24px;
            }
        }
    }

    main {
        border: double 2px transparent;
        border-radius: 4px;
        background-image: linear-gradient(white, white), linear-gradient(180deg, #0aa7f5, #3ce7ff);
        background-origin: border-box;
        background-clip: content-box, border-box;

        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;

        min-height: 6em;

        text-align: left;
        position: relative;
        display: flex;

        align-items: flex-end;
        

        p{
            margin: 0;
            margin-left: 8px;
            margin-bottom: 8px;
        }

        &::before,
        &::after {
            position: absolute;
            font-weight: 700;
            color: black;
            font-size: 25pt;
        }

        &::before {
            content: "\201c";
            top: 0.2em;
            left: 0.2em;
        }

        &::after {
            content: "\201d";
            bottom: -0.3em;
            right: 0.2em;
        }
    }
}
