.allocationStaking {
    .pageTitle {
        height: 10%;
        .mainText {
            margin-top: 160px;

            max-width: 60vw;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: bold;
            font-size: 6vh;
        
            color: #ffffff;
        }

        .infoButton {
            width: 204px;
            height: 52px;

            margin-top: 4vh;

            border: 2px solid #ffffff;
            box-sizing: border-box;
            border-radius: 10px;
            text-align: center;
            vertical-align: 10em;
            color: white;

            font-family: 'Cabin';
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 52px;
            cursor: pointer;
            background-color: transparent;
            transition: 0.5s;
        }

        .infoButton:hover{
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    .vpCard {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 24vh;
    }

    .pageContent {
        margin-top: 10vh;
        display: flex;

        .infoCards {
            width: 100%;
        }

        .stakingCards {
            width: 100%;
            margin-right: 2em;
        }
    }
}

@media (max-width: 900px) {
    .allocationStaking {
        .pageTitle {
            .mainText {
                max-width: 80vw;
                // width: 752px;
                color: black;
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 4vh;
                height: 1em;
                margin-top: 100px;
            }

            .infoButton {
                border: 2px solid #000000;
                color: rgb(0, 0, 0);
                margin-top: 3em;
            }
        }

        .vpCard {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 4vh;
        }

        .pageContent {
            flex-direction: column;
            margin-top: 5vh;
        }
    }
}
